/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background-color: #1e2772;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 26px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(183, 64, 234);
}

/* Layout do Conteúdo Principal */
.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Informações do Funcionário */
.employee-info, .inventory-info {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    width: 48%;
    margin-bottom: 20px;
}

.employee-info h2, .inventory-info h2 {
    font-size: 22px;
    color: #1e2772;
    margin-bottom: 20px;
    text-align: center;
}

.info-group {
    margin-bottom: 15px;
}

.info-group label {
    font-size: 16px;
    color: #1e2772;
    font-weight: bold;
}

.info-group p {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

/* Tabela de Estoque */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #1e2772;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Rodapé */
footer {
    background-color: #1e2772;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
